# deps
node_modules/
.pnpm-store/

# next
apps/web/.next/
apps/web/out/
apps/web/.env
apps/web/.env.local
apps/web/.env*.local

# foundry
packages/contracts/cache/
packages/contracts/out/
packages/contracts/broadcast/
packages/contracts/lib/
packages/contracts/.env
packages/contracts/.deployer-address

# env secrets
.env
.env.*
!.env.example
!**/.env.example

# misc
.DS_Store
*.log
.turbo
dist
coverage
